apache-airflow==2.8.4
apache-airflow-providers-celery==3.6.2
pyspark==3.5.1
delta-spark==3.1.0
pandas==2.2.2
pyarrow==15.0.2
requests==2.31.0
python-dotenv==1.0.1

# Dev / test
pytest==8.1.1
pytest-mock==3.14.0
ruff==0.4.4
